<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="贴吧.css">
    
</head>
<body>
    <header>
        <div class="navbar">
            <div class="navbar1"> 
                <ul>
                    <li><a href="#">贴吧首页</a></li>
                    <li><a href="#">用户</a></li>
                    <li><a href="#">消息</a></li>
                    <li><a href="#">更多</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div>
        <div class="main">
            <div class="center">
                <div class="header_background">
                    <img src="images/qz1.jpg">
                    <div class="header_title">
                        <h2 class="title_1">全职猎人吧</h2>
                        <a href="#">
                            <img src="images/gz.png" class="gz">
                        </a>
                        <div class="title_2">
                            <p class="title_3">关注：</p>
                            <p class="number">123，456</p>
                        </div>
                        <div class="title_2">
                            <p class="title_3">帖子：</p>
                            <p class="number">123,456</p>
                        </div>
                        <div>
                            <a href="#">
                                <img src="images/qd.png" class="qd">
                            </a>
                            <div class="qd_ts">
                                <p>1月1日</p>
                                <p>漏签0天</p>
                            </div>
                        </div>
                    </div>
                    <div class="nr">
                        <div class="nr_header">
                            <ul>
                                <li><a href="#">看帖</a></li>
                                <li><a href="#">图片</a></li>
                                <li><a href="#">精品</a></li>
                                <li><a href="#">视频</a></li>
                            </ul>
                        </div>
                        <div class="search">
                            <a href="#"><img src="images/btn.png" class="search_tp"></a>
                            <input type="text" placeholder="请输入关键词" />               
                        </div>
                    </div>
                    <div class="nr_left">
                        <div class="nr_tz">
                            <ul>
                                <li>
                                    <div class="hot_number">999</div>
                                    <a href="#">这是帖子的贴名</a>
                                    <div class="tbyh"><img src="images/tb1.png" class="tb1">贴吧用户名</div>
                                    <img src="images/j.png" class="j">
                                    <img src="images/zd.png" class="zd">
                                    <div class="tbnr"><p>帖子内容帖子内容帖子内容帖子内容帖子内容</p></div>
                                </li>
                                <li>
                                    <div class="hot_number">999</div>
                                    <a href="#">这是帖子的贴名</a>
                                    <div class="tbyh"><img src="images/tb1.png" class="tb1">贴吧用户名</div>
                                    <img src="images/zd.png" class="zd">
                                    <div class="tbnr"><p>帖子内容帖子内容帖子内容帖子内容帖子内容</p></div>
                                </li>
                                <li>
                                    <div class="hot_number">999</div>
                                    <a href="#">这是帖子的贴名</a>
                                    <div class="tbyh"><img src="images/tb1.png" class="tb1">贴吧用户名</div>
                                    <div class="tbnr"><p>帖子内容帖子内容帖子内容帖子内容帖子内容</p></div>
                                </li>
                                <li>
                                    <div class="hot_number">999</div>
                                    <a href="#">这是帖子的贴名</a>
                                    <div class="tbyh"><img src="images/tb1.png" class="tb1">贴吧用户名</div>
                                    <img src="images/j.png" class="j">
                                    <div class="tbnr"><p>帖子内容帖子内容帖子内容帖子内容帖子内容</p></div>
                                </li>
                                <li>
                                    <div class="hot_number">999</div>
                                    <a href="#">这是帖子的贴名</a>
                                    <div class="tbyh"><img src="images/tb1.png" class="tb1">贴吧用户名</div>
                                    <div class="tbnr"><p>帖子内容帖子内容帖子内容帖子内容帖子内容</p></div>
                                </li>
                                <li>
                                    <div class="hot_number">999</div>
                                    <a href="#">这是帖子的贴名</a>
                                    <div class="tbyh"><img src="images/tb1.png" class="tb1">贴吧用户名</div>
                                    <div class="tbnr"><p>帖子内容帖子内容帖子内容帖子内容帖子内容</p></div>
                                </li>
                                <li>
                                    <div class="hot_number">999</div>
                                    <a href="#">这是帖子的贴名</a>
                                    <div class="tbyh"><img src="images/tb1.png" class="tb1">贴吧用户名</div>
                                    <div class="tbnr"><p>帖子内容帖子内容帖子内容帖子内容帖子内容</p></div>
                                </li>
                                <li>
                                    <div class="hot_number">999</div>
                                    <a href="#">这是帖子的贴名</a>
                                    <div class="tbyh"><img src="images/tb1.png" class="tb1">贴吧用户名</div>
                                    <div class="tbnr"><p>帖子内容帖子内容帖子内容帖子内容帖子内容</p></div>
                                </li>
                                <li>
                                    <div class="hot_number">999</div>
                                    <a href="#">这是帖子的贴名</a>
                                    <div class="tbyh"><img src="images/tb1.png" class="tb1">贴吧用户名</div>
                                    <div class="tbnr"><p>帖子内容帖子内容帖子内容帖子内容帖子内容</p></div>
                                </li>
                                <li>
                                    <div class="hot_number">999</div>
                                    <a href="#">这是帖子的贴名</a>
                                    <div class="tbyh"><img src="images/tb1.png" class="tb1">贴吧用户名</div>
                                    <div class="tbnr"><p>帖子内容帖子内容帖子内容帖子内容帖子内容</p></div>
                                </li>
                                <li>
                                    <div class="hot_number">999</div>
                                    <a href="#">这是帖子的贴名</a>
                                    <div class="tbyh"><img src="images/tb1.png" class="tb1">贴吧用户名</div>
                                    <div class="tbnr"><p>帖子内容帖子内容帖子内容帖子内容帖子内容</p></div>
                                </li>
                                <li>
                                    <div class="hot_number">999</div>
                                    <a href="#">这是帖子的贴名</a>
                                    <div class="tbyh"><img src="images/tb1.png" class="tb1">贴吧用户名</div>
                                    <div class="tbnr"><p>帖子内容帖子内容帖子内容帖子内容帖子内容</p></div>
                                </li>
                                <li>
                                    <div class="hot_number">999</div>
                                    <a href="#">这是帖子的贴名</a>
                                    <div class="tbyh"><img src="images/tb1.png" class="tb1">贴吧用户名</div>
                                    <div class="tbnr"><p>帖子内容帖子内容帖子内容帖子内容帖子内容</p></div>
                                </li>
                            </ul>
                        </div>    
                    </div>
                    <div class="nr_right">
                        <div class="tp_lb">
                            <div class="wrap" style="left: 0px;">
                                <img src="images/1.jpg" >
                                <img src="images/2.jpg" >
                                <img src="images/3.jpg" >
                                <img src="images/4.jpg" >
                            </div>
                            <a href=" " class="prev"> &lt; </a>
                            <a href=" " class="next"> &gt; </a>
                            <ul class="promo-nav">
                                <li class="selected" ></li>
                                <li ></li>
                                <li ></li>
                                <li ></li>
                            </ul>
                        </div>
                        
                        <script type="text/javascript" src="贴吧.js"></script>
                        <div class="xgtb">
                            <div class="xgtb_name">相关贴吧</div>
                            <div class="nav">
                                <ul>
                                    <li><a href="#">海贼王吧</a></li>
                                    <li><a href="#">死神吧</a></li>
                                    <li><a href="#">火影忍者吧</a></li>
                                    <li><a href="#">家庭教师吧</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="xgtb">
                            <div class="xgtb_name1">本吧信息</div>
                            <div class="ckxq"><a href="#">查看详情>></a></div>
                            <img src="images/tbbz.png" class="tbbz">
                            <div class="tbbz_name">贴吧吧主昵称</div>
                            <div class="sq">
                                <ul>
                                    <li><a href="#">申请吧主</a></li>
                                    <li><a href="#">申请吧务</a></li>
                                </ul>
                            </div>
                            <div class="xgtb_name">本吧吧规</div>
                            <div class="bgxx">吧规信息吧规信息吧规信息
                                吧规信息吧规信息吧规信息吧规信息吧规信息吧规信息
                                吧规信息吧规信息吧规信息
                                吧规信息吧规信息吧规信息
                                吧规信息
                            </div>
                        </div>
                    </div>
                    <div class="ft">
                        <div class="fbxt">发表新贴</div>
                        <div class="fbxt_tm">
                            <input type="text" placeholder="请输入标题" />
                        </div>
                        <div class="fbxt_nr">
                            <input type="text" placeholder="请输入内容" />
                        </div>
                        <div >
                            <img src="images/fb.png" class="fb">
                        </div>
                        <div class="xg">&copy2020 贴吧协议 | 隐私政策 | 吧主制度 | 意见反馈 | 网络谣言警示</div>
                    </div>
                    <div class="fd">
                        <img src="images/fd.png"  class="fd_tp">
                    </div>
                    
                </div>
                
                <div class="logo">
                    <img src="images/qz3.jpg" class="logo1">
                </div>
                
            </div>
            <div class="left"></div>
            <div class="right"></div>
        </div>
    </div>
</body>
</html>